.app__header {
  
    background-color: rgba(0, 0, 0, 0.5);
    height: 8vh;
    padding-inline: 10px;
    box-shadow: 0 0 5px #000000;
    opacity: 0;
    animation-name: show-down;
    animation-timing-function: ease-in-out;
    animation-duration: 1000ms;
    animation-fill-mode: forwards;

    & > a:first-of-type {
      font-family: "Parisienne", cursive;
      font-size: 20px;
    }

    a {
        color: rgb(255, 255, 255);
       
    }

}
