.app__header {
	background-color: rgba(0, 0, 0, 0.5);
	height: 8vh;
	padding-inline: 10px;
	box-shadow: 0 0 5px #000000;
	opacity: 0;
	animation-name: show-down;
	animation-timing-function: ease-in-out;
	animation-duration: 1000ms;
	animation-fill-mode: forwards;

	.app-header__logo-anchor {
		font-family: "Parisienne", cursive;
		font-size: 20px;
		display: flex;
		align-items: center;
		figure {
			margin-right: 10px;
			height: 40px;
			width: 40px;
			border-radius: 50%;
			overflow: hidden;
		}
	}

	.app-header__actions-and-nav {
		display: flex;
		align-items: center;
		.app-header__actions {
			display: flex;
			margin-inline: 10px;
			button {
				background-color: transparent;
				border: none;
				color: #fff;
				&:hover {
					cursor: pointer;
				}
				i {
					font-size: 16px;
				}
			}
		}
		nav,
		ul {
			display: flex;
			li {
				margin-inline: 10px;
			}
		}

		.app-header__profile-actions {
			display: flex;
			height: 40px;
			width: 40px;
			border: solid var(--secondary-color) 2px;
			overflow: hidden;
			border-radius: 50%;
			margin-inline: 10px;
			&:hover {
				cursor: pointer;
			}
		}
	}

	a {
		color: rgb(255, 255, 255);
	}
}
