.custom-button {
	padding-block: 10px;
	border-radius: 5px;
	background-color: var(--primary-color);
	color: #000;
	border: none;
	transition: all ease-in-out 300ms;
	&:hover {
		cursor: pointer;
		color: #fff;
		background-color: rgba(100, 149, 237, 1);
	}
}
