.dashboard__main {
	flex-direction: column;

	.dashboard__welcome {
		display: flex;
		margin: 10px;
		.message {
			height: 90px;
			width: 300px;
			ul {
				li {
					margin-block: 5px;
					button {
						height: 100%;
						width: 100%;
						border: none;
						padding: 5px;
						transition: all ease-in-out 300ms;
						background-color: var(--secondary-color);
						&:hover {
							cursor: pointer;
							color: #fff;
						}
					}
				}
			}
		}
	}

	.dashboard__cart-section {
		background-color: rgba(0, 0, 0, 0.6);
		padding: 10px;
		
	}

	#dashboard-payment {
		margin-block: 10px;
		display: flex;
		flex-direction: column;
		background-color: rgba(0, 0, 0, 0.6);
		padding: 10px;
		display: none;
		color: #fff;

		button {
			align-self: flex-start;
			margin-block: 10px;
		}
	}

	#dashboard-cart {
		display: flex;
		width: fit-content;
		flex-direction: column;
		.cart-item {
			margin-block: 10px;
			height: 90px;
			figure {
				width: 30%;
			}
			figure + section {
				width: 70%;
				& > section:first-of-type {
					width: 50%;
				}

				& > section:last-of-type {
					width: 50%;
				}
			}
		}

		& > p {
			color: #fff;
		}
	}
}
