/*-------------------------------LOG PAGE------------------------------*/

.log__main {
	background-color: rgba(0, 0, 0, 0.5);
	background-blend-mode: color;
	align-items: center;
	justify-content: center;
	height: 100vh;
	overflow: hidden;

	& > section {
		background-color: rgba(0, 0, 0, 0.5);
		padding: 10px;
		border-radius: 10px;
		display: flex;
		flex-direction: column;
		opacity: 0;
		width: 400px;
		animation: show-up 1s ease-in-out forwards;
		& > header {
			h1 {
				font-family: "Parisienne", cursive;
			}
			color: #fff;
			margin-block: 10px;
		}

		& > section {
			margin-top: 10px;
			background-color: rgba(0, 0, 0, 0.5);
			padding: 10px;
			color: #fff;
			font-family: "Poppins", sans-serif;

			a {
				color: var(--secondary-color);
			}
		}
	}
}




@media (width < 435px) {
	.log__main {	
		& > section {
			width: 90%;
		}
	}
}
