.payment__main {
	background-color: rgba(0, 0, 0, 0.6);
	background-blend-mode: color;
	align-items: center;
	justify-content: center;
	flex-direction: column;

	.payment__welcome {
		height: 100px;
		display: flex;
		margin-bottom: 10px;
		.message {
			height: 100%;
		}
	}

	#payment-element {
		color: #fff;		
	}

	& > section:last-of-type {
		background-color: rgba(0, 0, 0, 0.5);
		padding: 10px;
		border-radius: 10px;
		display: flex;
		flex-direction: column;

		

		a {
			color: #fff;
		}
		color:#fff;
		opacity: 0;
		animation: show-up 1s ease-in-out forwards;
		
		
	}
}
