/*------------------------KEYFRAMES-----------------------*/

@keyframes show {
    from {
      opacity: 0;
    }
  
    to {
      opacity: 1;
    }
  }
  
  
  @keyframes show-up {
    0% {
      opacity: 0;
      transform: translateY(300px);
      display: none;
    }
  
    100% {
      opacity: 1;
      transform: translateY(0);
  
    }
  }
  
  @keyframes show-down {
    0% {
      opacity: 0;
      transform: translateY(-300px);
    }
  
    100% {
      opacity: 1;
      transform: translateY(0);
    }
  }
  
  @keyframes show-right {
    0% {
      opacity: 0;
      transform: translateX(-300px);
    }
  
    100% {
      opacity: 1;
      transform: translateX(0);
    }
  }